// @use "../scss/modal";
$text-color: #fff;
$shadow-color: rgba(52, 49, 49, 0.8);
$header-color: #ba4735;
$body-color: #cb4c39;
$border-radius: 5px;
.modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $shadow-color;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    position: relative;
    width: 514px;
    border-radius: $border-radius;
    margin: 0 auto;
    line-height: 2;
    background-color: #cb4c39;
    & > * {
      &:first-child {
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
      }
      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
  &__header {
    padding: 10px 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color;
    background-color: $header-color;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  &__body {
    display: flex;
    text-align: center;
    align-items: center;
    flex-grow: 1;
    background-color: $body-color;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color;
    padding: 0 43px 0 43px;
    min-height: 120px;
  }

  &-button__block {
    background-color: #cb4c39;
    padding: 0 0 20px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
}

.close-btn {
  right: 32px;
  top: 23px;
  background-color: transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;

  color: $text-color;
  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $text-color;
    height: 2px;
    width: 30px;
    transform-origin: 50%;
  }
  &::before {
    transform: rotate(45deg) translate(1px);
  }
  &::after {
    transform: rotate(-45deg) translate(1px);
  }
}
