.header {
  display: flex;
  background-color: red;
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.logo {
  flex-grow: 1;
  & img {
    height: 60px;
  }
}
.products,
.cart,
.wish-list {
  // display: flex;
  // align-items: center;
  // justify-items: center;
  // flex-wrap: wrap;
  & a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  & img {
    display: block;
    height: 40px;
    margin-right: 10px;
  }
}
