.product-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }
  .product-table__image {
    img {
      height: 50px;
      margin: 0 auto;
      display: block;
    }
  }
  .product-table__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200px;
    margin: auto;
  }
  .product-table__remove {
    text-align: center;
  }
  .product-table__remove-btn {
    text-align: center;
    &:before,
    &::after {
      background-color: black;
      color: black;
    }
  }
}
