$font: Arial, Helvetica, sans-serif;
.checkout-form {
  margin: 0 auto;
  max-width: fit-content;
  font-family: $font;
}
.form-item {
  max-width: fit-content;
  margin-top: 15px;
  gap: 5px;
  display: grid;
  justify-items: start;
  grid-template-areas:
    "form-item__title"
    "form-item__input "
    "form-item__error";
  align-items: center;
  &:has(.form-error) {
    & .form-item__input {
      border-color: red;
    }
  }
}
.form-item__title {
  grid-area: form-item__title;
}
.form-item__input {
  grid-area: form-item__input;
  height: 30px;
  width: 220px;
}
.form__text-area {
  height: 100px;
  max-width: 220px;
  font-family: $font;
  // font-size: 1rem;
  padding: 5px;
}
.form-error {
  color: red;
  grid-area: form-item__error;
  justify-self: start;

  // & ~ .form-item__input {
  //   border: red;
  // }
}
