// .loader {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, 50%);
// }
.loader {
  --size: 36px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  margin: var(--size) 0 0 var(--size);
  margin: -calc(var(--size) / 2) 0 0 -calc(var(--size) / 2);

  border: 5px solid transparent;
  border-bottom-color: var(--error-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
