$border-radius: 5px;
$border-color: #fff;
$text-color: #fff;
.btn {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: $text-color;
  min-width: 100px;
  margin: 5px;
  cursor: pointer;
  &:hover {
    border-color: $border-color;
    outline-color: $border-color;
  }
}
