.product-card {
  position: relative;
  font-size: 20px;
  width: 450px;
  height: 500px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  & *:first-child {
    border-radius: 5px;
  }
}
.product-card__image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & img {
    max-height: 250px;
  }
}
.product-card__name {
  font-size: 20px;
}
.product-card__wishlist {
}
.product-card-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
