$color: #fff;
$dark-color: #000;
.close-btn {
  right: 32px;
  top: 23px;
  background-color: transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;
  height: 40px;
  color: $color;

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $color;
    height: 2px;
    width: 30px;
    transform-origin: 50%;
    &:hover & {
      background-color: $dark-color;
    }
    &:hover {
      &::before,
      &::after {
        background-color: $dark-color;
      }
    }
  }
  &::before {
    transform: rotate(45deg) translate(1px);
  }
  &::after {
    transform: rotate(-45deg) translate(1px);
  }
}
.close-btn-dark {
  &::before,
  &:after {
    background-color: $dark-color;
  }
}
