.header {
  display: flex;
  background-color: red;
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.logo {
  flex-grow: 1;
  & img {
    height: 60px;
  }
}
.cart,
.wish-list {
  display: flex;
  align-items: center;
  & img {
    height: 40px;
    margin-right: 10px;
  }
}
